
/* --------------- Reset Styles --------------- */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #fff;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}
html, body{
    min-height: 100%;
}
a {
	color: #cccccc;
	text-decoration: none;
}

a:hover, a:focus, .btn:focus {
    text-decoration: none;
	outline: none;
	color: #6c6b6b
}

input:focus, textarea:focus {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-transform:capitalize;
	/*letter-spacing: 1px;*/
}

h1 {
    font-size: 72px;
    line-height: 82px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 32px;
    line-height: 45px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
	line-height: 25px;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------- Common Classes --------------- */
.row{
	 margin-right: 0px;
	 margin-left: 0px;
}
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
    text-align: left;
}


.justify {
	text-align: justify;
}

.strong {
font-weight: 700;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.floatnone {
	float:none;
}

.fixed {
	position:fixed;
}

.absolute {
	position:absolute;
}

.relative {
	position:relative;
}


@media (min-width: 1200px) {
	.container {
		width: 95%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 95%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 95%;
	}
}
.container {
	position:relative;
	z-index: 10;
}

.section-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

.animated {
	visibility: hidden;
}

.visible {
	visibility: visible;
}



.section-overlay {
	background: rgba(0, 0, 0, .5);
	z-index: 5;
	width: 100%;
}
.site-name {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 8px 15px 8px;
    line-height: 40px;
    font-weight: 700;
    /*letter-spacing: 1px;*/
    text-transform: uppercase;
}
#back-to-top1{
    position:fixed;
    bottom:40px;
    right:30px;
    width: 40px;
    height: 40px;
    margin: 0;
    /*border:1px solid #f4645f;*/
    border-radius: 4px;
    /*background: #f4645f;*/
    /*background: linear-gradient(to bottom, #6b00ce, #114cf6 );*/
    background: rgba(216, 216, 216, 0.9);
    color:rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 100;
}
#back-to-top1 > i {
    margin-top: 10px;
}

/* --------------- Pre Loader Styles --------------- */
#preloader {
	position:fixed;
	top: 0;
	left: 0;
	background-color:#FFF;
	width: 100%;
	height: 100%;
	z-index: 10050;
}

.loading-circle {
	position: relative;
	margin: 0 auto;
	/*left: 49%;*/
	top: 49%;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border-top: 2px solid #7F8C8D;
	border-right: 2px solid rgba(0,0,0, 0);
	border-bottom: 2px solid #7F8C8D;
	border-left: 2px solid rgba(0,0,0, 0);
}

/* =============== HTML element styles =============== */
/* --------------- Button Styles --------------- */
.button-line {
	background: transparent;
	display: inline-block;
	font-weight: 300;
	border-radius: 4px;
	border: 1px solid;
	margin: 10px;
	overflow: visible;
}

.no-text .icon {
	margin: 0;
}

.btn .icon {
	margin-left: 13px;
}

.button-white {
	border-color: #fff;
	color: #fff;
}

.button-white:hover {
	border-color: #fff;
	color: #fff;
}



/* ================ Header Section ================ */

.header-section {
	position:relative;
}

/* --------------- Main Navigation Styles --------------- */
.sticky-bar-wrap {
	position:absolute;
	width: 100%;
	z-index: 1025;
}

.sticky-section {
	width: 100%;
	height: 80px;
	z-index: 1025;
	transition: all .3s ease-in;
	/*background: rgba(0,0,0, .15);*/
}

.nav-bg {
	background: rgba(0,0,0, .6);
}

.site-name {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding: 8px 15px;
	font-weight: 700;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;
}

.site-name span {
	color: #fff;
	padding: 0 13px;
	font-weight: 400;
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-right: 3px;
	font-size: 28px;
	line-height: 35px;
}

.nav-hold {
	left: 0;
	right: 0;
	top: 0;
	padding-top: 13px;
	z-index: 1025;
}

ul.nav > li > a {
	color:#fff;
	font-size: 16px;
	font-weight: 400;
    border-left: 3px solid rgba(0,0,0,0);
    box-sizing: content-box;
    padding: 0 0 0 10px!important;
    margin: 15px 10px;
    line-height: 20px;

}

ul.nav > li > a:hover, ul.nav > li > a:focus {
	background: none !important;
}

li.current a,
ul.nav > li > a:hover{
    color:#D3AB5A !important;
}

li.current a{
    border-left: 3px solid #D3AB5A !important;
    box-sizing: content-box;
}
.n-nav{
    display: flex;
    justify-content: center;
}


.wrapper{
    margin-bottom: 15vh;
}
.section-title {
    margin-bottom: 7vw;
    margin-top: 3vw;
}

.section-title h3, .section-title h4 {
    color: #F4F4F4;
    border-left: 3px solid #D3AB5A !important;
    display: inline-block;
    margin-top: 0;
    line-height: 15px;
    padding-left: 20px;
}

/*#selectable .ui-selecting { background: #FECA40; }*/
/*#selectable .ui-selected { background: #F39814; color: white; }*/

/* ================ nav ================ */
@media (max-width: 768px)
{
    .n-nav{
        display: block;
        margin-top: 16px;
        background: #1c1a21;
        position: absolute;
        right: 10px;
        width: 200px;
    }
    .nav ul{
        margin: 0px;
    }
    .sticky-section{
        /*background: rgba(0,0,0,0.5);*/
        background: #1c1a21;
    }
}


.navbar-toggle .icon-bar {
	background: #ffffff;
}

.WhitePaper:focus{
	color: #fff;
}
.WhitePaper:hover{
	color: #ccc;
}

/* --------------- Home section --------------- */

#section-home{
	/*background: #000;*/
	width: 100%;
	height: 100%;
	position: relative;
}

#section-home .wrap-video{
	position:absolute;
	/*width: 90%;*/
	z-index: 1;
}

#section-home .brahmaos-video{
	/*position: absolute;*/
	/*width: 90%;*/
}


.home {
	min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index:6;
}
.home>div{
    max-width: 80%;
    height: 500px;
    padding: 50px;
}

.well-come {
	position:relative;
	font-size: 80px;
	line-height: 62px;
	margin-bottom: 80px;
	color:#fff;
	font-weight: 700;
	text-transform:uppercase;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}
.home .home-title{
    background: linear-gradient(to right, #D3AB5A, #fff);
    -webkit-background-clip: text;
    color: transparent;
}
.home-buttons{
    margin-top: 50px;
}

.intro-message {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 48px;
	color: #fff;
	font-weight: 300;
}
#play-video{
	margin:5px 20px;
	min-width: 220px;
	/*border: 1px solid #fff;*/
	border: .06666em solid #fff;
}


/* ================ Decentralized OS Demand ================ */

.os-wrap{
    /*border: 1px solid red;*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.os-title{
	position: relative;
	top: -3px;
	color: #fff;
	font-weight: 700;
    font-size: 1vw;
}
.os-demand{
    position: relative;
	max-width: 240px;
    border-bottom: 1px solid #666;
    padding-bottom: 2vh;
}
.os-wrap .os-demand p{
    color: #F4F4F4;
}
.os-demand-select .os-title p{
    color: #D3AB5A;
}
.os-demand-select{
    border-bottom: 2px solid #D3AB5A;
}
.os-demand::before{
    content: '';
    position: absolute;
    left: 0;
    height: 70%;
    width: 1px;
    top: 20%;
    background: #666;
}
.os-demand::after{
    content: '';
    position: absolute;
    right: 0;
    height: 70%;
    width: 1px;
    top: 20%;
    background: #666;
}

/* ================ Members Section ================ */
.members p{
    line-height: 3vh;
    font-size: 1.8vh;
}
.member-name{
    position: relative;
    font-size: 2vw;
    margin-top: 3vh;
}
.member-name::before{
    content: "";
    position: absolute;
    left: -15px;
    top: 20%;
    height: 15px;
    width: 3px;
    background: #f4f4f4;
}
.member-position{
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: -10px;
}
.member-name-small{
    font-size: 1.5vh !important;
    font-weight: 400;
    margin: 0;
}
.member-position-small{
    font-size: 1.3vh !important;
    margin-top: -5px;
}
.members-intro{
    background: #D3AB5A;
    padding: 5vh 8vh 8vh 5vh;
    position: relative;
    height: 600px !important;
    width: 80%;
}

@media (max-width: 720px){
    .members-intro{
        padding: 5vh 8vh 8vh 5vh;
        height: 500px !important;
        width: 100%;
    }
    .member-position-small, .member-name-small{
        display: none;
    }
}

.member-description{
    margin-top: 2vw;
    font-weight: 300;
    font-size: 1vw;
}
.members-photos{
    padding: 50px 0;
}
.members-photos a:hover{
    color: #D3AB5A;
}
.members-photos a:focus {
    color: #D3AB5A;
}
.members-photo img{
    display: inline-block;
}
.photo-bg{
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
}

/*============= Team =======================*/
.team-wrapper{
    display: flex;
}
.team-line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team{
    /*width: 20vw;*/
    /*margin: 10px 10px;*/
    /*min-height: 280px;*/
    text-align: left;
}
@media (max-width: 720px){
    .team{
        /*min-height: 350px;*/
        text-align: center;
    }
}

.team-name{
    color: #D3AB5A;
}


/* ================ Token Distribution Section ================ */
.distribution-pc{
    position: relative;
    padding-bottom: 15vh;
}
.distribution-pc img{
    display: inline !important;
    width: 30vw;
}

@media (max-width: 720px){
    .distribution-pc {
        display: none;
    }
}


.distribution-title{
    margin-bottom: 7vw;
}
.total-distribution{
    color: #D3AB5A;
    font-size: 3vw;
}
.distribution-item{
    width: 20vw;
    position: absolute;
    display: inline-block;
}
.distribution-item div:first-of-type{
    position: relative;
}
.distribution-item .distribution-desc{
    text-align: left;
    font-size: 1vw;
}
.distribution-item .distribution-percent{
    font-size: 2vw;
    font-weight: 400;
    margin-right: 1vw;
}
.distribution-item .distribution-percent-desc{
    font-size: 16px;
    font-weight: 400;
}
.distribution-l{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.7vh;
    right: -15vw;
}
.distribution-line{
    width: 10vw;
    height: 1px;
    background: #D3AB5A;
}
.distribution-circle{
    width: 8px;
    height: 8px;
    background: #D3AB5A;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.token-sale{
    left: 8vw;
    top: 5vh;
}
.business-partnerships{
    left: 6vw;
    top: 37vh;
}
.foundation{
    left: 10vw;
    bottom: 15vh;
}
.foundation .distribution-l{
    top: 1.7vh;
    right: -10vw;
}
.developer-community{
    left: 35vw;
    bottom: -8vh;
}
.developer-community .distribution-l{
    left: 0;
    top: 0;
}
.developer-community .distribution-line{
    height: 100px;
    width: 1px;
}
.developer-community .distribution-circle{
    bottom: -50px;
    left: 4px;
}
.early-supporters{
    right: 5vw;
    bottom: 10vh;
}
.early-supporters .distribution-l{
    left: -17vw;
}
.team-percent{
    right: 5vw;
    top: 25vh;
}
.team-percent .distribution-l{
    left: -17vw;
}



/* ===== roadmap section =====*/
#section-roadmap {
    background: rgba(0,0,0,0.5);
}

.roadmap{
    position: relative;
}

.road-circle{
    display: inline-block;
    background-color: #000;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.road-desc{
    width: 30vw;
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.5vw;
}
.road-title{
    font-size: 2vw;
    font-weight: 400;
    color: #D3AB5A;
    margin-bottom: 1vh;
}
.road{
    display: flex;
    justify-content: center;
    height: 20vw;
    position: relative;
}
.road2{
    margin-left: 12vw;
}
.road2 .road-desc{
    margin-left: 2vw;
}

.road-line{
    position: absolute;
    top:0;
    left: 33.4vw;
    width: 26vw;
    height: 26vw;
    /*border: 1px solid red;*/
    z-index: -1;
}
.road-line::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:13vw;
    box-sizing:border-box;
    border-bottom: 1px solid #D3AB5A;
    transform-origin:bottom center;
    transform:rotateZ(45deg) scale(1.2);
    animation:slash 5s infinite ease;
}

.road3{
    margin-right: 12vw;
}
.road3 .road-title{
    text-align: right;
}
.road3 .road-desc{
    margin-right: 2vw;
    text-align: right;
}
.road-line3-4{
    top:20vw;
}
.road-line3-4::before{
    transform:rotateZ(135deg) scale(0.9);
}
.road4{
    margin-left: 12vw;
}
.road4 .road-desc{
    margin-left: 2vw;
}
.road-line4-5{
    top:40vw;
}
.road-line4-5::before{
    /*transform:rotateZ(135deg) scale(1.2);*/
    /* 新语法，不带前缀，以支持标准兼容的浏览器（Opera 12.1， IE 10， Firefox 16， Chrome 26， Safari 6.1） */
    border-image: linear-gradient( to right,  #D3AB5A, #000) 30 30;
}

/*============= Partners =====================*/
.partners img{
    width: 20vw;
}
/*============= Media =====================*/
.media-item img{
    width: 20vw;
}
/*============= Contact =====================*/
.contacts{
    display: flex;
    justify-content: center;
    text-align: center;
}
.contact-title{
    margin-bottom: 3vw;
    font-size: 2vw;
    color: #D3AB5A;
}
.contact-info {
    margin: 2vw;
    width: 30vw;
}
.contact-info div:first-of-type{
    margin-bottom: 3vw;
}

/*============ Footer Section ===============*/
#section-footer {
	padding-top: 80px;
	padding-bottom: 80px;
	background: rgba(0, 0, 0, .5);
	/*background: #0c131e;*/
	color:#e5e5e5;
}

.footer-title {
	display: inline-block;
	margin-bottom: 40px;
	text-transform: none;
}

.social-icons ul li {
	display: inline-block;
}

.social-icons ul li a{
	margin: 10px;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.social-icons ul li a

.copyright {
	margin-top: 3vw;
	font-weight: 300;
    font-size: 1vw;
}


@media (min-width: 970px){
	.OS {
		width: 960px;
	}
	.Partners{
		width: 970px;
	}
}


@media (min-width: 1230px){
	.OS {
		width: 1230px;
	}
	.Partners{
		width: 1230px;
	}
}

